[submodule "basquete"]
	path = trab_1_basquete
	url = https://github.com/gabriel-ribeiro-099/basquete.git
[submodule "calculadora_mobile_app"]
	path = trab_2_calculadora
	url = https://github.com/RauanIgor/calculadora_mobile_app.git
[submodule "PomodoroApp"]
	path = trab_3_pomodoro
	url = https://github.com/Bia1000b/PomodoroApp.git
